
<div class="field centered">
    <form class="form" [formGroup]="authForm">
        <h2>Create an account</h2>
        <!--<div class="titles">
            <label for="">Username:</label>
        </div>
        <input class="input" formControlName="username">
        <div class="titles">
            <label for="">Password:</label>
        </div>
        <input class="input" formControlName="password" />
        <div class="titles">
            <label for="">Password confirmation:</label>
        </div>
        <input class="input" formControlName="passwordConfirmation">
        {{ authForm.get('username')!.errors | json }}
        {{ authForm.get('password')!.errors | json }}
        {{ authForm.get('passwordConfirmation')!.errors | json }}
        {{ authForm.errors | json }}-->
        <app-input label="Username" type="text" [control]="$any(authForm.get('username'))"></app-input>
        
        <app-input label="Password" type="password"[control]="$any(authForm.get('password'))"></app-input>
        
        <app-input label="Password confirmation" type="password" [control]="$any(authForm.get('passwordConfirmation'))"></app-input>
        
        <div class="special">
            <ng-container 
            *ngIf="
                $any(authForm.get('password')).touched &&
                $any(authForm.get('passwordConfirmation')).touched &&
                authForm.errors" 
            class="field"
        >
            <p *ngIf="authForm.errors!['passwordsDontMatch']">
                Passwords don't match
            </p>
        </ng-container>
        </div>
        

        <button class="button is-link">Submit</button>

            
        
    </form>
</div>